*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}
body {
  background-color: #191B20;
}
.container {
  p {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    canvas{
      background-color: #242630;
      margin: 20px 0;
    }
  }
}
.btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  div{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  button{
    background-color: wheat;
    border: none;
    outline: none;
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
    &:active{
      transform: scale(0.9);
    }
  }
}

